@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    overflow-x: hidden;
    max-width: 100vw;
  }

  #root {
    overflow-x: hidden;
  }
}
/* src/index.css hoáº·c src/App.css */
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
